

button {
    background-color: aqua;
    width: 100px;
    margin-left: 0.5rem;
    height: 35px;
    border-radius: 4%;
    font-weight: bold;
    font-size: 14.5px;
    
}

input {
    border-radius: 2%;
    height: 30px;
}